*{
    margin :0 ;
    padding: 0;
}


/* 
 */

 .nav-bar-row{
    background:rgb(220, 192, 10);
 }

 /*  header styling  */
/* 
 .header-div{
 
   
    background-image: url(img/rajwada.jpg);
    background-repeat: no-repeat;
    background-size: contain;
 } */